# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# OS X noise
.DS_Store
._*

# svn & cvs
.svn
CVS

# appcode noise
.idea

# calabash noise
.irb*
irb_*.*
DerivedData/CoreData/info.plist
DerivedData/CoreData/scm.plist
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData-all-target-headers.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData-generated-files.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData-own-target-headers.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData-project-headers.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData.dep
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/CoreData~.dep
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/build-state.dat
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/build-state~.dat
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/CoreData.LinkFileList
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/CoreData_dependency_info.dat
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIAppDelegate.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIAppDelegate.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIAppDelegate.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VICoreDataManager.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VICoreDataManager.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VICoreDataManager.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIFetchResultsDataSource.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIFetchResultsDataSource.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIFetchResultsDataSource.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObject.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObject.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObject.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObjectMap.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObjectMap.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObjectMap.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObjectMapper.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObjectMapper.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIManagedObjectMapper.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIPerson.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIPerson.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIPerson.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIPersonDataSource.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIPersonDataSource.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIPersonDataSource.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIViewController.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIViewController.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/VIViewController.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/main.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/main.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreData.build/Objects-normal/i386/main.o
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests-all-target-headers.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests-generated-files.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests-own-target-headers.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests-project-headers.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests.dep
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests.hmap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/CoreDataTests~.dep
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/build-state.dat
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/build-state~.dat
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Migrator/ManagedObjectAdditionTests.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Migrator/ManagedObjectAdditionTests.remap
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Objects-normal/i386/CoreDataTests.LinkFileList
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Objects-normal/i386/CoreDataTests_dependency_info.dat
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Objects-normal/i386/ManagedObjectAdditionTests.d
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Objects-normal/i386/ManagedObjectAdditionTests.dia
DerivedData/CoreData/Build/Intermediates/CoreData.build/Debug-iphonesimulator/CoreDataTests.build/Objects-normal/i386/ManagedObjectAdditionTests.o
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreData-Prefix-atotmkeqevgvmpcrdawghwnymizq/CoreData-Prefix.pch.d
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreData-Prefix-atotmkeqevgvmpcrdawghwnymizq/CoreData-Prefix.pch.dia
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreData-Prefix-atotmkeqevgvmpcrdawghwnymizq/CoreData-Prefix.pch.pch
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreData-Prefix-atotmkeqevgvmpcrdawghwnymizq/CoreData-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bposxvqprowyvyexxgimysryjgpn/CoreDataTests-Prefix.pch.dia
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bposxvqprowyvyexxgimysryjgpn/CoreDataTests-Prefix.pch.pch
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bposxvqprowyvyexxgimysryjgpn/CoreDataTests-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bwycyhfjdxscpjcnfyzgzccifhtt/CoreDataTests-Prefix.pch.d
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bwycyhfjdxscpjcnfyzgzccifhtt/CoreDataTests-Prefix.pch.dia
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bwycyhfjdxscpjcnfyzgzccifhtt/CoreDataTests-Prefix.pch.pch
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-bwycyhfjdxscpjcnfyzgzccifhtt/CoreDataTests-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-fgnrabrpqfcebtcfpuukxrvkimhp/CoreDataTests-Prefix.pch.d
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-fgnrabrpqfcebtcfpuukxrvkimhp/CoreDataTests-Prefix.pch.dia
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-fgnrabrpqfcebtcfpuukxrvkimhp/CoreDataTests-Prefix.pch.pch
DerivedData/CoreData/Build/Intermediates/PrecompiledHeaders/CoreDataTests-Prefix-fgnrabrpqfcebtcfpuukxrvkimhp/CoreDataTests-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/CoreData
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/Default-568h@2x.png
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/Info.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/PkgInfo
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app.dSYM/Contents/Info.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app.dSYM/Contents/Resources/DWARF/CoreData
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/VICoreDataModel.momd/VICoreDataModel.mom
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/VICoreDataModel.momd/VICoreDataModel.omo
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/VICoreDataModel.momd/VersionInfo.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/en.lproj/InfoPlist.strings
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreData.app/en.lproj/VIViewController.nib
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest/CoreDataTests
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest/Info.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest.dSYM/Contents/Info.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest.dSYM/Contents/Resources/DWARF/CoreDataTests
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest/VICoreDataModel.momd/VICoreDataModel.mom
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest/VICoreDataModel.momd/VICoreDataModel.omo
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.octest/VICoreDataModel.momd/VersionInfo.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest/CoreDataTests
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest/Info.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest.dSYM/Contents/Info.plist
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest.dSYM/Contents/Resources/DWARF/CoreDataTests
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest/VICoreDataModel.momd/VICoreDataModel.mom
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest/VICoreDataModel.momd/VICoreDataModel.omo
DerivedData/CoreData/Build/Products/Debug-iphonesimulator/CoreDataTests.xctest/VICoreDataModel.momd/VersionInfo.plist
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb-shm
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb-wal
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb.strings-cmp
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb.strings-dir
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb.strings-file
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb.strings-res
DerivedData/CoreData/Index/Debug/iphonesimulator7.0-i386/CoreData.xcindex/db.xcindexdb.strings-sym
DerivedData/CoreData/Index/PrecompiledHeaders/CoreData-Prefix-cpkvvxwchiuxplgzxsbwxhygkpzr_ast/CoreData-Prefix.pch.pch
DerivedData/CoreData/Index/PrecompiledHeaders/CoreData-Prefix-cpkvvxwchiuxplgzxsbwxhygkpzr_ast/CoreData-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Index/PrecompiledHeaders/CoreData-Prefix-cpkvvxwchiuxplgzxsbwxhygkpzr_ast/CoreData-Prefix.pch.pch.target
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-cobghigboqnxaaclyrfeiwkrptvr_ast/CoreDataTests-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-dhugkziylwlpuucctyckvrzzwwqd_ast/CoreDataTests-Prefix.pch.pch
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-dhugkziylwlpuucctyckvrzzwwqd_ast/CoreDataTests-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-dhugkziylwlpuucctyckvrzzwwqd_ast/CoreDataTests-Prefix.pch.pch.target
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-empsfhmfbagexwabnkyyoreiturf_ast/CoreDataTests-Prefix.pch.pch
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-empsfhmfbagexwabnkyyoreiturf_ast/CoreDataTests-Prefix.pch.pch.hash-criteria
DerivedData/CoreData/Index/PrecompiledHeaders/CoreDataTests-Prefix-empsfhmfbagexwabnkyyoreiturf_ast/CoreDataTests-Prefix.pch.pch.target
DerivedData/CoreData/Logs/Build/1CCF200D-41E9-47A9-BE92-034A5F11BF65.xcactivitylog
DerivedData/CoreData/Logs/Build/3A736EE4-56D2-40A1-8302-5B20CAFEFCB1.xcactivitylog
DerivedData/CoreData/Logs/Build/5B97D68C-CEA8-4E84-94BB-AD813D82C417.xcactivitylog
DerivedData/CoreData/Logs/Build/6FD01F50-D5B0-49F6-B4CF-7BD7D3D51597.xcactivitylog
DerivedData/CoreData/Logs/Build/7538A1AF-FF18-4DBD-877B-C8217E1B89E3.xcactivitylog
DerivedData/CoreData/Logs/Build/977B37F7-2B30-4305-A70E-A0BF00C655A7.xcactivitylog
DerivedData/CoreData/Logs/Build/A458A86C-CF12-4B13-A9B2-6F244F287B5B.xcactivitylog
DerivedData/CoreData/Logs/Build/Cache.db
DerivedData/CoreData/Logs/Build/D2F61B96-64E8-49B8-9DFF-865FD3E2293B.xcactivitylog
DerivedData/CoreData/Logs/Build/D83E941F-3A06-4C35-83B7-B594732B83FF.xcactivitylog
DerivedData/CoreData/Logs/Build/D9245D8C-3CD9-47DE-B321-3CE6CECEDBFD.xcactivitylog
DerivedData/CoreData/Logs/Build/DB5D6850-FB14-42C5-988A-44C39CD6A899.xcactivitylog
DerivedData/CoreData/Logs/Build/F95C10A3-8CA5-4B7E-8C98-A92D45AD1803.xcactivitylog
DerivedData/CoreData/Logs/Debug/39ADACC3-DA18-4079-9893-2473F32E6FD3.xcactivitylog
DerivedData/CoreData/Logs/Debug/Cache.db
DerivedData/CoreData/Logs/Issues/3073F86F-460C-4C16-9FA1-9EDE591F8B76.xcactivitylog
DerivedData/CoreData/Logs/Issues/BFE1B8EA-0B3A-4525-B005-ABE9BC649915.xcactivitylog
DerivedData/CoreData/Logs/Issues/Cache.db
DerivedData/CoreData/Logs/Test/24C423AB-A178-484F-A840-01BC86AE8E84.xcactivitylog
DerivedData/CoreData/Logs/Test/50C95097-9708-4B0E-8357-2EB0FE51DB1F.xcactivitylog
DerivedData/CoreData/Logs/Test/54EC6E62-0F50-4B76-8E75-9C1F696F7ACC.xcactivitylog
DerivedData/CoreData/Logs/Test/68DD7F28-87FF-4270-925A-4924992458AA.xcactivitylog
DerivedData/CoreData/Logs/Test/72465CEB-FB97-4B68-95CC-81761FDFEF43.xcactivitylog
DerivedData/CoreData/Logs/Test/72762FC6-F774-409E-940A-C436DB150386.xcactivitylog
DerivedData/CoreData/Logs/Test/Cache.db
DerivedData/CoreData/Logs/Test/D4E705E8-1848-48E1-B5E9-9CEF52145635.xcactivitylog
DerivedData/CoreData/Logs/Test/E7682972-B76F-43E1-B297-3F355BDDDD91.xcactivitylog
DerivedData/CoreData/TestResults/2013-08-19 14.04.59 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.05.49 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.06.10 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.06.14 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.06.16 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.06.20 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.06.30 -0500.xctestresults/results.plist
DerivedData/CoreData/TestResults/2013-08-19 14.06.35 -0500.xctestresults/results.plist
DerivedData/CoreData/TextIndex/text-index.idx
